.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-tittle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #888e96;
}

.contacts-link:hover {
  color: aqua;
}

.contacts-tittle-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.icon {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  // stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 10px;
}

.contacts-item {
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
